.exit-text{
   -fx-background-color: #333333
   -fx-text-fill: #FFFFFF;
   -fx-font-size: 20px;
   -fx-border-color: #4CAF50;
   -fx-border-radius: 2;
}
.yes-button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
}
.no-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
}