/* Background for the entire welcome screen */
.root {
    -fx-background-image: url("../Images/WelcomePoker.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}


/* Title styling */
.label-title {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-effect: dropshadow(gaussian, black, 4, 0, 0, 2);
}

/* Placeholder text for media */
.label-placeholder {
    -fx-font-style: italic;
    -fx-font-size: 16px;
    -fx-text-fill: #B0B0B0;
}

/* Welcome message box */
.welcome-text {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
}

/* Exit and Play button styles */
.exit-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
}

.play-button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
}